

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}














